
  <div class="row">
    <div class="col-md-6 offset-md-4  font-weight-bold text-white">
      <h1>CONSULTAR VALORES</h1>
    </div>
  </div>

  <div class="row  offset-md-4 ">
    <form class="bg-dark text-white card ">
      Origem:
      <input type="text" class="form-control" size="50p" />
    </form>
  </div>

  <div class="row offset-md-4">
    <form class="bg-dark text-white card">
      Destino:
      <input type="text" class="form-control" size="50p" />
    </form>
  </div>

  <div class="row offset-md-4  ">
    <form class="bg-dark text-white card">
      Data de Partida:
      <input type="text" class="form-control" size="50p" />
    </form>
  </div>
  <div class="row offset-md-4  ">
    <form class="bg-dark text-white card ">
      Data de Volta:
      <input type="text" class="form-control" size="50p" />
    </form>
  </div>
  <div class="row offset-md-4 mt-3">
    <button class="btn btn-info">CONSULTAR</button>
  </div>


