<div class="container border-dark  bg-dark text-white ">
  <div class="row">
    <div class="col-md-4  ">
      <h2>Coisas do espaço</h2>

    </div>
    <div class="col-md-2 ">
      <button class="btn border-dark btn-primary bg-dark text-white">DESTINO</button>

    </div>
    <div class="col-md-2 ">
      <button class="btn border-dark btn-primary bg-dark text-white">VALOR</button>

    </div>
    <div class="col-md-2 ">
      <button class="btn border-dark btn-primary bg-dark text-white">CONTATO</button>

    </div>

    <div id="lado" class="col-md-3 offset-md-3 size-30p ">
      <img src="https://image.freepik.com/vetores-gratis/nave-espacial-com-design-ilustracao-do-planeta_72076-308.jpg"
      alt="foguete" >
    </div>
  </div>
</div>
